# Redis Connection
REDIS_URL=redis://redis:6379

# Internal Service URLs
NODE_MANAGER_URL=http://node-manager:8002
SCHEDULER_URL=http://nginx/scheduler

# PostgreSQL Database Configuration
POSTGRES_USER=scheduler_user
POSTGRES_PASSWORD=scheduler_password
POSTGRES_DB=scheduler_db

# Postgres Connection String (Constructed from above credentials)
POSTGRES_URL=postgresql://scheduler_user:scheduler_password@postgres:5432/scheduler_db
